<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./dist/css/styles.css">
</head>

<body ng-app='gravapp' ng-controller='grav-cont' class='container' ng-click='toggleMove($event)' ng-mousemove='mousey($event)'>
    <div id='menu' ng-click='noBubble($event)' class='container panel panel-primary col-md-3'>
        <div class='panel-heading'>Controls</div>
        <div class='panel-body'>
            <form novalidate>
                <h4>Options</h4>
                <div class='row'>
                    <div class='input-group col-md-10'>
                        <div class='input-group-addon alert-info'>Number of Objects</div>
                        <input type="number" class='form-control' ng-model='numPlans' />
                    </div>
                </div>
                <div class='row'>
                    <div class='input-group col-md-10'>
                        <div class='input-group-addon alert-info'>Gravitational Constant</div>
                        <input type="number" class='form-control' ng-model='g' step='.01' />
                    </div>
                </div>
                <div class='row'>
                    <div class='input-group col-md-10'>
                        <div class='input-group-addon alert-info'>Maximum Size (px)</div>
                        <input type="number" class='form-control' ng-model='maxSize' />
                    </div>
                </div>
                <div class='row'>
                    <div class='input-group col-md-10'>
                        <div class='input-group-addon alert-info'>Maximum Speed (px/tick)</div>
                        <input type="number" class='form-control' ng-model='maxSpd' />
                    </div>
                </div>
                <div class='row'>
                    <div class='input-group col-md-10'>
                        <div class='input-group-addon alert-info'>
                            <input type="checkbox" ng-model='pathMode' />
                        </div>
                        <div class='form-control'>Trace Paths</div>
                    </div>
                </div>
                <div class='row'>
                    <div class='input-group col-md-10'>
                        <div class='input-group-addon alert-info'>
                            <input type="checkbox" ng-model='useSun' ng-change='toggleSun()' />
                        </div>
                        <div class='form-control'>Include fixed 'sun'</div>
                        <div class='input-group-addon'>
                            <button class='btn btn-danger btn-xs' ng-click='explSun()'>?</button>
                        </div>
                    </div>
                </div>
                <div ng-if='useSun'>
                    <div class='row'>
                        <div class='input-group col-md-10'>
                            <div class='input-group-addon alert-info'>Mass of Sun</div>
                            <input type="number" class='form-control' ng-model='mSun' />
                        </div>
                    </div>
                </div>
                <hr>
                <h4>Stats</h4>
                <div class='row'>
                    <div class='input-group col-md-10'>
                        <div class='input-group-addon'>Remaining Objects</div>
                        <div class='form-control'>{{plans.length}}</div>
                    </div>
                </div>
                <div class='row'>
                    <div class='input-group col-md-10'>
                        <div class='input-group-addon'>Ticks</div>
                        <div class='form-control'>{{ticks}}</div>
                    </div>
                </div>
                <button ng-click='rescatter()' class='btn btn-default'>Rescatter</button>
            </form>
        </div>
    </div>
    <div class='plan' id='pl{{$index}}' ng-repeat='p in plans' style='left:{{Math.floor(p.x)}}px;top:{{Math.floor(p.y)}}px;{{getStyles(p.m)}}' title='{{$index}}: {{p}}'>
    </div>
    <div class='plan' id='sun' ng-if='sunStatus' ng-click='noBubble($event)' style='left:{{Math.floor(sun.x)}}px;top:{{Math.floor(sun.y)}}px;{{getStyles(sun.m,true)}}'>
    </div>
    <div ng-show='moving' class='plan' style='left:{{Math.floor(mouse.x)}}px;top:{{Math.floor(mouse.y)}}px;{{getStyles(moving.m)}}'></div>
    <canvas id='canv' style='height:{{h}}px;width:{{w}}px;' width='{{w}}' height='{{h}}px'></canvas>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="./dist/js/all.js"></script>
</body>

</html>